.navbar {
    padding-left: 15%;
    padding-right: 10%;


}
.jumbotron {
    background-image: url("../../images/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color:transparent !important;

}
@media only screen and (max-width: 1180px) {
    .jumbotron {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-color:transparent !important;

    }
}
@media only screen and (max-width: 580px) {
    .jumbotron {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-color:transparent !important;

    }
}
@media only screen and (max-width: 580px) {
    .jumbotron {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        background-color:transparent !important;

    }
}
