#logo{

    background-size: cover !important;

}
.cardNoBorder{

    border: 0px ;

}
#wordpress{
    margin-top: 30px !important;
}

@media only screen and (max-width: 768px) {
    .title{
        margin-top: 30px !important;
    }
}
